.color-card {
  padding: 8px;
}

/* .color-card {
  padding: 5px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
  border-radius: 12px;
} */

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  /* border-radius: 12px; */
}
