body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.really-delete-button {
  background-color: black;
  color: white;
}

/* .color-item {
  background-color: red;
} */
